.example-spacer {
    flex: 1 1 auto;
  }
  mat-toolbar{
    background-color: rgb(85, 85, 247); 
    height: 50px;
  }
  mat-icon{
    color: antiquewhite;
  }
  .tool-headings{
    color: white;
    flex: 0.01 0 auto;
    
  }
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Adjust as needed */
    
  }
  .login-form {
    position: relative;
    width: 350px; /* Adjust as needed */
    
   
  }
  .btnlogin
  {
    text-align: center;
  }
  .form-container
  {
    display: flex;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Box shadow style */
    /* border: 2px solid black; */
    justify-content: center;
    width: 500px;
    height: 350px;
  }
  .login-header
  {
    text-align: center;
  }
  .example-full-width{
    width: 100%;
    background-color: rgb(255, 255, 255);
  }
.Create-account
{
    text-align: center;
    
    
}
/* Default styles */
.toolbar {
  display: flex;
 padding-left: 30px;
  align-items: center;
  background-color: #2196F3; 
  color: white;
}

.spacer {
  flex: 0.01;
  
}

.menu-button {
  display: none; 
}

.sidenav {
  width: 250px; 
}


@media  screen and (max-width: 600px) {
  .menu-button {
    display: block; /* Display the menu button on small screens */
  }
  
  .toolbar .tool-headings {
    display: none; /* Hide the toolbar menu items on small screens */
  }
}

  

  