
    <mat-drawer-container autosize>
        <mat-drawer #drawer opened="true" mode="side" position="start">
        <mat-nav-list>
            <mat-list-item>
                <button routerLink="card" mat-button><mat-icon class="tool-heading1">dashboard</mat-icon> Dashboard</button>
            </mat-list-item>
            <mat-list-item>
                <button routerLink="" mat-button><mat-icon class="tool-heading1">tv</mat-icon> Info</button>
            </mat-list-item>
            <mat-list-item>
                <button routerLink="slider" mat-button><mat-icon class="tool-heading1">group</mat-icon> User</button>
            </mat-list-item>
            <mat-list-item>
                <button routerLink="table" mat-button><mat-icon class="tool-heading1">home</mat-icon> parent menu</button>
            </mat-list-item>

        </mat-nav-list>
        </mat-drawer>
        <mat-drawer-content>
            <div style="text-align: left;min-height: 600px;">
            <h2>This is Contact details for this Contact Us page</h2>
                <!-- <router-outlet></router-outlet> -->
                </div>
        </mat-drawer-content>
    </mat-drawer-container>
>
      