.example-spacer {
    flex: 1 1 auto;
  }
  mat-toolbar{
    background-color: rgb(85, 85, 247); 
    height: 50px;
  }
  mat-icon{
    color: antiquewhite;
  }
  .tool-headings{
    color: white;
    flex: 0.03 1 auto;
  }
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Adjust as needed */
    
  }
  .example-container {
    width: 100%;
    height: 100%;
    /* margin-left: 100px; */
    border: 1x solid #000000;
  }
  .tool-heading1{
    color: rgb(22, 21, 21);
    flex: 0.03 1 auto;
  }
  .tool-headings
  {
    color: rgb(253, 249, 249);
    margin-right: 50px;
  }
  .home-icon
  {
    color: black;
    padding-right: 10px;
    padding-left: 10px;
  }
 .content
 {
    margin-top: 20px;
 }
 .content1
 {
    margin-top: 20px;
    color: black;
 }
 .dropdown-icon{
    color: black;
    padding-top: 10px;
 }
 table {
    width: 100%;
    margin: 20px 50px 20px 20px;
  }
  .toolbar {
    display: flex;
   padding-left: 30px;
    align-items: center;
    background-color: #2196F3; 
    color: white;
  }
  
  .spacer {
    flex: 0.01;
    
  }
  
  .menu-button {
    display: none; 
  }
  
  
  .sidenav {
    width: 20px; /* Adjust the width as needed */
   
}
  @media  screen and (max-width: 600px) {
    .menu-button {
      display: block; /* Display the menu button on small screens */
    }
    
    .toolbar .tool-headings {
      display: none; /* Hide the toolbar menu items on small screens */
    }
  }
  
  