
    <mat-drawer-container autosize>
        <mat-drawer #drawer opened="true" mode="side" position="start">
        <mat-nav-list>
            <mat-list-item>
                <button routerLink="card" mat-button><mat-icon class="tool-heading1">dashboard</mat-icon> Dashboard</button>
            </mat-list-item>
            <mat-list-item>
                <button routerLink="" mat-button><mat-icon class="tool-heading1">tv</mat-icon> Info</button>
            </mat-list-item>
            <mat-list-item>
                <button routerLink="slider" mat-button><mat-icon class="tool-heading1">group</mat-icon> User</button>
            </mat-list-item>
            <mat-list-item>
                <button routerLink="table" mat-button><mat-icon class="tool-heading1">home</mat-icon> parent menu</button>
            </mat-list-item>

        </mat-nav-list>
        </mat-drawer>
        <mat-drawer-content>
            <div style="text-align: center;min-height: 600px;">
                <table mat-table [dataSource]="transactions">
       
                    <ng-container matColumnDef="item">
                        <th mat-header-cell *matHeaderCellDef> Item </th>
                        <td mat-cell *matCellDef="let transaction"> {{transaction.item}} </td>
                        <td mat-footer-cell *matFooterCellDef> Total </td>
                    </ng-container>
            
                    
                    <ng-container matColumnDef="cost">
                        <th mat-header-cell *matHeaderCellDef> Cost </th>
                        <td mat-cell *matCellDef="let transaction"> {{transaction.cost | currency}} </td>
                        <td mat-footer-cell *matFooterCellDef> {{getTotalCost() | currency}} </td>
                    </ng-container>
            
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
                </table>
                <router-outlet></router-outlet>
                </div>
        </mat-drawer-content>
    </mat-drawer-container>
      